<%= form_with model: @newsletter, local: true do |form| %>

  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@newsletter.errors.count, "error") %>  prohibited this newsletter from being saved:
      </h2>
      <ul>
        <% @newsletter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :publish_date %>
    <%= form.date_field :publish_date %>
  </p>

  <p>
    <%= form.label :stories %>
    <%= form.collection_select(:story_ids, Story.all, :id, :title, {},  {multiple: true})%>
  </p>

  <p>
    <%= form.submit %>
    <% if @newsletter.id %>
      <% if @newsletter.lyra_id %>
        <%= form.submit 'Update in Lyra', name: 'update_in_lyra' %>
      <% else %>
        <%= form.submit 'Post to Lyra', name: 'post_to_lyra' %>
      <% end %>
    <% end %>
  </p>
<% end %>
