<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script src="https://cdn.tiny.cloud/1/0grvgrqfv7wv27oo9ajzvjicput288t9kjqjbfc3gmctkijh/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#tiny-mce',
        plugins: 'a11ychecker image table advtable link spellchecker powerpaste wordcount autosave',
        toolbar: 'image link | table | a11ycheck spellchecker restoredraft',
      });
    </script>
  </body>
</html>
