<%= form_with model: @story, local: true do |form| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@story.errors.count, "error") %>  prohibited this story from being saved:
      </h2>
      <ul>
        <% @story.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </p>

  <p>
    <%= form.text_area :html, :class => "tinymce", :rows => 40, :cols => 120, :id => "tiny-mce" %>
  </p>

  <p>
    <%= form.submit %>
    <% if @story.id %>
      <% if @story.lyra_id %>
        <%= form.submit 'Update in Lyra', name: 'update_in_lyra' %>
      <% else %>
        <%= form.submit 'Post to Lyra', name: 'post_to_lyra' %>
      <% end %>
    <% end %>
  </p>
<% end %>
